.img1,
.img2,
.img3,
.img4 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img1 {
    background-image: url('../images/home6.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9
    
    
}
.title1 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    opacity: 1;
}
.heroImg {
    max-width: 40%;
    vertical-align: top;
}
.img2 {
    background-image: url('../images/home1.jpg');
    min-height: 400px;
}
.img3 {
    background-image: url('../images/home2.jpg');
    min-height: 400px
}
.img4 {
    background-image: url('../images/home5.jpg');
    min-height: 400px;
}
.section {
    text-align: center;

}
.title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 1;
    
}

.border {
    font-weight: 800;
    color: white;    
}
.spanText {
    opacity: 1;
    font-weight: 600;
    color: white;

}
